*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: black;

}

li {

    list-style: none;
}

body{
   
    background-size: 100%;
    background-color: #000000;
    font-family: 'Raleway', sans-serif;

}
.header{

    display: flex;
    justify-content: space-between;
    flex-direction: center;
    font-weight: bold;
    padding: 8px;

}

.menu{
    display: flex;
    align-items: center;
    justify-content: end;
    background-color: #fcfcfc;
    gap: 15px;
    height: 70px;
    width: 100%;
    padding: 0 40px;
    
}

.menu li:hover{
    border: 10px solid rgb(255, 255, 255);
            transform: scale(1.5); 
            box-shadow: 0 5px 15px rgba(0,0,0,0.6);
            border-radius: 10px;
    
}

.main_logo{
    display: flex;
    align-items: end;
    justify-content: end;
    height: calc(100vh - 86px);
    margin-right: 100px;
    padding: 100px;
}

.sobre {
    background-color: #fcfcfc;
    height: 100vh;
}

#logo2{
    
    position: absolute;
    left: 1100px;
    bottom: -15%;

}

#ban{
    width: 626px;
    height: 240px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;

    font-size: 82px;
    line-height: 80px;
    letter-spacing: -4px;
    color: #ffffff;
        display: center;
        flex-direction: center;
        justify-content: start;
        align-items: center;
    }

    #ban2{
    width: 443px;
    height: 60px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: -1px;
    color: #D5D5D6;
    flex: none;
    order: 1;
    flex-grow: 0;
    
}

#ban3{
    width: 443px;
    height: 60px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: -1px;
    color: #D5D5D6;
    flex: none;
    order: 1;
    flex-grow: 0;
 }


.logocenter{

    
}